<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header"></div>
    <ol class="nav navbar-nav">
      <li><a href="/">Home</a></li>
      <li><a href="/add">Add Student</a></li>
      <li><a href="/update">Update Student</a></li>
      <li><a href="/delete">Delete Student</a></li>
      <li><a href="/get">Display Student</a></li>
      <li><a href="/list">List All</a></li>
    </ol>
  </div>
</nav>

<!-- Script that highlights the list item with the current url on the navbar -->
<script>
  $(function () {
    $("a").each(function () {
      if ($(this).prop("href") == window.location.href) {
        $(this).addClass("active");
      }
    });
  });
</script>

<!-- style that gives the active classes color-->
<style>
  a.active {
    background-color: #ddd;
    color: white;
  }

  nav a.active {
    background-color: #ddd;
    color: red;
  }
</style>
