<!DOCTYPE html>
<html>
  <head>
    <title>Delete Votes</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <!--navbar-->
    <%- include('partials/navbar') %>
  </head>

  <body>
    <div class="container">
      <h1>Delete Student</h1>
      <p>Enter the student's record ID.</p>

      <label for="rID">Record ID:</label>
      <input type="text" id="rID" name="rID" /><br /><br />

      <button class="btn-primary" onClick="deleteStudent()">
        Delete Student
      </button>

      <div id="mydiv"></div>
      <br />
      <br />
      <script>
        function deleteStudent() {
          var rID_val = $("#rID").val();
          var urla = "http://localhost:5678/students/" + rID_val;

          $.ajax({
            url: urla,
            type: "delete",
            success: function () {
              $("#mydiv").text("Student deleted successfully");
            },
            error: function (xhr) {
              $("#mydiv").text("error: " + xhr);
            },
          });
        }
      </script>
    </div>

    <footer class="container-fluid text-center">
      <p>Made by Emmanuel (Manny) David</p>
      <p>Z23619905</p>
    </footer>
  </body>
</html>
